doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio de Zakaria Errahmaouy, Développeur Senior Expert')
        meta(name='author', content='Zakaria Errahmaouy')

        title Zakaria Errahmaouy - Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Zakaria Errahmaouy
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Profil
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Expérience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Formation
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Compétences
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Centres d'intérêt
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Certifications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Zakaria 
                        span.text-primary Errahmaouy
                    .subheading.mb-5
                        | FARAH SALAM GH 2 , IMM K , APP17, RESIDENCE AL MANAR 2 , OULFA, 20260, Casablanca · +212604894319 · 
                        a(href='mailto:zakaria.rahmaouy@gmail.com') zakaria.rahmaouy@gmail.com
                        |  · Marocain
                    p.lead.mb-5
                        | Développeur Senior Expert passionné par le développement PHP, déterminé à apporter mon expertise technique, ma rigueur professionnelle et mon enthousiasme pour contribuer au succès de vos projets numériques. Capable de résoudre des problèmes complexes et de travailler de manière proactive.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/er-rahmaouy/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/zakaria-errahmaouy', target='_blank')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Expérience Professionnelle

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 MIB TECH - Casablanca, Maroc
                            p Développement des ERP de gestion des cliniques, interfaçage via Web Services, gestion des équipes et suivi des projets.
                        .flex-shrink-0
                            span.text-primary 07/2022 - Actuel

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 AKDITAL HOLDING - Casablanca, Maroc
                            p Développement d'applications web, interfaçage via Web Services, suivi des besoins clients et respect des délais.
                        .flex-shrink-0
                            span.text-primary 03/2020 - 07/2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 BINARIOS-IT - Casablanca, Maroc
                            p Gestion d'une équipe de 10 personnes, répartition des tâches, suivi des besoins clients et développement d'applications web ERP.
                        .flex-shrink-0
                            span.text-primary 01/2016 - 03/2020

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Formation
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Licence : Ingénierie de Conception et Développement D'application
                            .subheading.mb-3 IT Learning Campus - Settat, Maroc
                            p 01/2018 – 01/2019 – Bien
                        .flex-shrink-0
                            span.text-primary 01/2018 – 01/2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technicien Spécialisé en développement informatique
                            .subheading.mb-3 Institut Supérieur De Gestion Et D'informatique – Casablanca, Maroc
                            p 01/2013 – 06/2015 – Bien
                        .flex-shrink-0
                            span.text-primary 01/2013 – 06/2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Compétences
                    .subheading.mb-3 Langages & Outils
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-bootstrap
                        li.list-inline-item
                            i.fab.fa-node-js
                    .subheading.mb-3 Workflow & Méthodologie
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Scrum / Agile
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Gestion de projets
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Documentation technique

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Centres d'intérêt
                    p
                        | Passion pour le cinéma et la photographie, le tennis, la poterie et la littérature. J'apprécie également explorer les nouvelles technologies et développer mes compétences en programmation web.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | MS Office Specialist Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Microsoft Certified: SQL Server
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Développement et déploiement d'ERP pour cliniques

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')